.nav-link{
  position: relative;
  transition: .3s ease-out all;
  /* color: var(--white) !important; */
}

.bianco > .container-fluid > .navbar-collapse > .navbar-nav > .nav-item > .nav-link{
    color: var(--white) !important;
}
.secnav > .container-fluid > .navbar-collapse > .navbar-nav > .nav-item > .nav-link {
    color: var(--main) !important;
}



.nav1:after{
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  display: inline-block;
  width: 0%;
  height: 1px;
  background: var(--orange);
  transition: .3s ease-out all;
}
.nav2:after{
  content: '';
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  display: inline-block;
  width: 0%;
  height: 1px;
  background: var(--main) !important;
  transition: .3s ease-out all;
}


.nav2{
  color: var(--orange) !important;
}

.nav1:hover:after{
  width: 70%;
    color: #4f5d75 !important;
}
.nav2:hover:after{
  width: 70%;
    color: #4f5d75 !important;
}
/* 
.nav-link:hover{
  color: #4f5d75 !important;
} */

nav{
   background : transparent !important; 
  transition: all .3s ease-out;
}

.bg-main{
  background-color: var(--main) !important;
}

/*  -------------  */

.dropdown:hover > .dropdown-menu{
  display: block;
}

.form-control{
  width: 342px !important;
}