:root {
    --main: #4f5d75;
    --white: #ffffff;
    --orange: #ef8354;
  }

  h1,p, .nav-link, .navbar-brand, .btn{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  }

  *{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

  body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 150px;
    padding-top: 56px;
  }

.navbar {
    background-color: var(--orange);
    
}

.dropdown-menu {
    background-color: #ef8254be;
    margin-top: 10;
}

.nav-link, .navbar-brand, button {
    color: white !important;
 }

 .nav-link:hover{
    color: #4f5d75 !important;
 }

.carousel-inner{
    height: 70vh;
    overflow: hidden !important;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.a{
    color: var(--white);
}

.btn-outline-light:hover{
    color: var(--orange) !important;
}

.footer{
    color: #4f5d75 !important;
}