:root {
    --main: #1e90ff;
    --white: #ffffff;
    --orange: #ef8354; 
  }

  body{
    min-height: 100vh;
    padding-top: 56px;
  }

.navbar {
    background-color: var(--orange);
}

.nav-link, .navbar-brand {
    color: white !important;
 }

.carousel-inner{
    height: 70vh;
    overflow: hidden !important;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.a{
    color: var(--white);
}