:root {
    --main: #2274A5;
    --white: #ffffff;
    --orange: #F75C03;
    --yellow: #F1C40F;
    --sfondo: #d9e7f036;
    --footer: #0e2a3c;
  
  }

  h1,p, .nav-link, .navbar-brand, .btn{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
  }

  .titolomedio{
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2rem;
  }

  *{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 150px;
    background-color: var(--sfondo);
  }

.carousel-inner{
    height: 70vh;
    overflow: hidden !important;
}

.carousel-item{
    background-size: cover;
    background-position: center;
}

.a{
    color: var(--white);
}

.btn-outline-light:hover{
    color: var(--orange) !important;
}

footer{
  background-color: var(--footer) !important;
  width: 100%;
}
.footer{
    color: var(--white) !important;
}

.btn-main{
  color: white !important;
  background: var(--main);
  flex: 0 0 auto; /* Elemento flessibile che non cresce né si riduce */
  margin-top: auto; /* Spinge il pulsante verso il fondo della card */
}

.btn-orange{
  color: white !important;
  background: var(--orange);
  flex: 0 0 auto; /* Elemento flessibile che non cresce né si riduce */
  margin-top: auto; /* Spinge il pulsante verso il fondo della card */
}

.btn2{
  color: white !important;
  flex: 0 0 auto; /* Elemento flessibile che non cresce né si riduce */
  margin-top: auto; /* Spinge il pulsante verso il fondo della card */
}

.btn{
  transition: .3s all ease-out;
}

.btn-main:hover{
  background: var(--white) !important;
  color: var(--main) !important;
  border: 1px solid var(--main) !important;
}

.btn-orange:hover{
  background: var(--white) !important;
  color: var(--orange) !important;
  border: 1px solid var(--orange) !important;
}

.bg-sfondo{
  background-color: var(--sfondo);
}

.card {
        text-align: center;
        box-shadow: 5px 5px 15px;
      
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container::before {
  content: '';
  display: block;
  width: 220px; /* Imposta la dimensione del bordo esterno */
  height: 220px; /* Imposta la dimensione del bordo esterno */
  border-radius: 50%;
  border: 5px solid var(--main); /* Aggiungi il bordo azzurro */
  position: absolute;
  top: -10px; /* Distanzia il bordo dall'immagine */
  left: -10px; /* Distanzia il bordo dall'immagine */
  z-index: -1; /* Posiziona il bordo dietro l'immagine */
}

.card-img-top {
  
  width: 320px; /* Imposta la dimensione desiderata */
  height: 160px; /* Imposta la dimensione desiderata */
  object-fit: cover;
  margin-top: 10px;
 
}

.cartateam {
  border-radius: 50%;
        width: 200px; /* Imposta la dimensione desiderata */
        height: 200px; /* Imposta la dimensione desiderata */
        object-fit: cover;
        margin: 0 auto;
      }

.card-title {
        margin-top: 1rem;
        
    }

.card-body {
  display: flex;
  height: 300px;
  width: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}


a{
  text-decoration: none;
  color: white;
}

.text-bg-custom{
  background-color: var(--main);
  transition: all .3s ease-out;
  position: relative;
}

.text-bg-custom:hover{
  background-color: var(--white);
  border: 1px solid var(--main);
  color: var(--main);
  transform: scale(1.2);
  left: 5px;
}

/* ---------------------- */

.option {
  height: 300px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px;;
  position: relative;
  cursor: pointer;
}

.option:hover > .bg {
  opacity: 1;
}

.option > h2 {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.option > .bg {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: .3s ease-out all;
  opacity: .4;
}

.option:nth-child(1) > .bg{
  background-image: url('/public/images/advertise.png');
}

.option:nth-child(2) > .bg{
  background-image: url('/public/images/bin.jpg');
}

.option:nth-child(3) > .bg{
  background-image: url('/public/images/users-icon.png');
}

.container-area > .row{
  min-height: 60vh;
  width: 100%;
  margin-bottom: 70px;
}

/* ---------------------- */

.user {
  margin: auto;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  background: var(--main);
  color: white;
}

.img-preview{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:120px;
  width: 120px;
}

.presentation-h2{
  color: var(--main); /* Utilizza il colore principale */
  font-size: 2.5em; /* Dimensione del font più grande */
  text-align: center; /* Allineamento del testo al centro */
  padding: 10px; /* Aggiunge un po' di spazio interno */
  border: 2px solid var(--main); /* Bordo con il colore principale */
  background-color: rgba(52, 152, 219, 0.1); /* Sfondo leggero usando il colore principale */
  border-radius: 10px; /* Angoli arrotondati */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra */
  text-align: center;
  min-width: 60%;
}

.categoria{
  width: 180px;
  height: 180px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.categoria > h2{
  color: var(--main);
  background: white;
  border-radius: 15px;
  padding: 10px;
  font-size: 1.5em;
}

.dropdown-menu{
  min-width: 0;
}

.bg-success{
  color: white !important;
}

.bg-danger{
  color: white !important;
}

.bg-danger:hover{
  color: red !important;
  background: white !important;
  border: 1px red solid !important;
}

.bg-success:hover{
  color: green !important;
  background: white !important;
  border: 1px green solid !important;
}